'global':
  'core':
    'disabledPackages': [
      'autocomplete'
    ]
    'themes': [
      'atom-dark-ui'
      'monokai'
    ]
  'exception-reporting':
    'userId': '882e7066-069e-7335-5bed-afec360d46fa'
  'welcome':
    'showOnStartup': false
  'editor':
    'fontSize': 12
